
@import "tailwindcss";
:root {
    font-family: Geist, sans-serif;
}
@theme{
    --font-sans: Geist, sans-serif;
    --color-primary: #0984E3;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 2;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1.5s ease-out forwards;
}
