
@import "tailwindcss";
:root {
    font-family: Geist, sans-serif;
}
@theme{
    --font-sans: Geist, sans-serif;
    --color-primary: #0984E3;
    --color-accent: #265979;
    --color-accent-300: #357399;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 2;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1.5s ease-out forwards;
}


.login-fade-in{
  animation: fadeIn 0.5s ease-in forwards;
}


@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out forwards;
}

.start-button {
  position: relative;
  background-color: #22577A; 
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%
  );
}
.start-button:hover {
  background-color: #357399; 
}

