
<div *ngIf="!loginModal && !signUpView" class="grid place-items-center h-screen">
  <div class="animate-fade-in">
    <img src="/logo.png" class="w-[150px] block mx-auto" alt="" />
    <p class="text-xl mt-6">Take control of your money, One click at a time</p>
    <button
      class="start-button w-32 text-white px-4 py-2 rounded-2xl text-center text-xl mx-auto block mt-6 bg-accent hover:bg-accent-300 transition duration-300"
      (click)="signInModal()"
    >
      Start
    </button>
  </div>
</div>

<app-login-modal
  *ngIf="loginModal"
  [loginModal]="loginModal"
  (closeModal)="closeModal($event)"
  (openSignUp)="openSignUpView()"
></app-login-modal>


<div *ngIf="signUpView" class="flex h-screen">
  <div class="w-1/2 flex flex-col justify-center items-center animate-fade-in">
    <img src="/logo.png" class="w-[150px]" alt="" />
    <p class="text-xl mt-6 text-center max-w-[200]">
      Take control of your money, One click at a time
    </p>
  </div>

  <div class="w-1/2">
    <app-signup-modal (signInModal)="signInModal()"(close)="closeSignUpModal()"></app-signup-modal>
  </div>
</div>

